.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); //sample: 100px divided by 4 equal size per grid, more details @ https://css-tricks.com/snippets/css/complete-guide-grid/
    column-gap: 10px;
    row-gap: 50px;
}